parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_object\(\) with bool\|float\|int\|string\|null will always evaluate to false\.$#'
			count: 1
			path: src/Controller/CommandController.php